# Pandas

* Pandas, Python'ın açık kaynaklı verileri analiz etmek için kullanılan kütüphanesidir. Veri kümeleriyle çalışmak için kullanılır. Verileri analiz etmek, temizlemek, keşfetmek ve değiştirmek gibi işlevlere sahiptir.

In [2]:
import pandas as pd 

dictionary= {"name": ["irem","hasan","ay"],
             "age":[24,25,None],
             "note":[452,326,None]}
dataframe=pd.DataFrame(dictionary)
print(dataframe)
#Pandas'taki veri kümeleri genellikle DataFrames adı verilen çok boyutlu tablolardır.

    name   age   note
0   irem  24.0  452.0
1  hasan  25.0  326.0
2     ay   NaN    NaN

In [6]:
print(dataframe.loc[0]) #0. satırı döndürür.

name     irem
age      24.0
note    452.0
Name: 0, dtype: object

In [7]:
print(dataframe.loc[[0,2]])

   name   age   note
0  irem  24.0  452.0
2    ay   NaN    NaN


* tail, head ile aynı işlevdedir sadece baştan değil sondan 5 satırı verir.

* tail ve head ile parantez içine bir sayı yazarsak o kadar sayıyı baştan veya sondan döner. Bir şey yazılmaz ise default sayı 5'dir.

In [3]:
head= dataframe.head()
print(head)

    name   age   note
0   irem  24.0  452.0
1  hasan  25.0  326.0
2     ay   NaN    NaN

In [4]:
tail= dataframe.tail()
print(tail)

    name   age   note
0   irem  24.0  452.0
1  hasan  25.0  326.0
2     ay   NaN    NaN

In [10]:
dataframe= pd.DataFrame(dictionary, index= ["1.", "2.", "3."]) #her satıra ad verdik.
print(dataframe)

     name   age   note
1.   irem  24.0  452.0
2.  hasan  25.0  326.0
3.     ay   NaN    NaN

In [12]:
print(dataframe.columns) #sütunların isimlerini yazdırır.

Index(['name', 'age', 'note'], dtype='object')

In [13]:
print(dataframe.info()) #dataframe hakkında bilgi verir.

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 1. to 3.
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     2 non-null      float64
 2   note    2 non-null      float64
dtypes: float64(2), object(1)
memory usage: 96.0+ bytes
None

In [25]:
print(dataframe["name"]) #sadece isimleri yazar.
print(dataframe.loc[:,"age"])
print(dataframe.loc[::-1]) #indexleri tersten yazdırır.

print(dataframe.loc[:,"note"])

1.     irem
2.    hasan
3.       ay
Name: name, dtype: object
1.    24.0
2.    25.0
3.     NaN
Name: age, dtype: float64
     name   age   note
3.     ay   NaN    NaN
2.  hasan  25.0  326.0
1.   irem  24.0  452.0
1.    452.0
2.    326.0
3.      NaN
Name: note, dtype: float64

### Filtering pandas data frame

In [26]:
filtre= dataframe.age>5 #yaşı 5ten büyük olanlar filtrelendi
dataframe["bool"]= filtre
print(dataframe.loc[:,["age","bool"]])

     age   bool
1.  24.0   True
2.  25.0   True
3.   NaN  False

In [27]:
type(filtre) #numpy'da vektör denilir pandas'da ise type'ına series denilir. Serilerin birleşimine ise dataframe denir.

pandas.core.series.Series

In [29]:
filtrelenmiş_data = dataframe[filtre]
print(filtrelenmiş_data) #dataframe'i filtrelemiş olduk, sadece koşulu sağlayan indeksler yazıldı

     name   age   note  bool
1.   irem  24.0  452.0  True
2.  hasan  25.0  326.0  True

In [31]:
dataframe[dataframe.age>10]

     name   age   note  bool
1.   irem  24.0  452.0  True
2.  hasan  25.0  326.0  True

List comprehension sayesinde tek bir satırda for ve if kullanıp, extra print yazmadan dataframe1 de yeni bir future açıp doldurduk.

In [32]:
dataframe.columns = [i.upper() for i in dataframe.columns]
dataframe.columns

Index(['NAME', 'AGE', 'NOTE', 'BOOL'], dtype='object')

In [40]:
dataframe.columns = [i.split(" ")[0]+"_"+i.split(" ")[1] if len(i.split(" "))>1 else i for i in dataframe.columns]
dataframe #bu işlwm büyük datasetlerdeki düzensizliği ve oluşabilecek sorunları önlemek için kullanılır.

     NAME   AGE   NOTE   BOOL
1.   irem  24.0  452.0   True
2.  hasan  25.0  326.0   True
3.     ay   NaN    NaN  False

In [42]:
#verticle(dikey) birleştirme  concat() metodu ile iki dataframe'i birleştirir.
data1 = dataframe.head()     
data2 = dataframe.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

     NAME   AGE   NOTE   BOOL
1.   irem  24.0  452.0   True
2.  hasan  25.0  326.0   True
3.     ay   NaN    NaN  False
1.   irem  24.0  452.0   True
2.  hasan  25.0  326.0   True
3.     ay   NaN    NaN  False

axis belirterek satır mı sütun mu sileceğimizi belirttik. axis= 0 olursa satır, 1 olursa sütunu seçer ve istenileni inplace yardımıyla kalıcı olarak siler.

In [43]:
#horizontal(yatay) birleştirme
data_contact = pd.concat([data1,data2],axis=1) #axis= 1 yazarak sütunları birleştirdik
data_contact

     NAME   AGE   NOTE   BOOL   NAME   AGE   NOTE   BOOL
1.   irem  24.0  452.0   True   irem  24.0  452.0   True
2.  hasan  25.0  326.0   True  hasan  25.0  326.0   True
3.     ay   NaN    NaN  False     ay   NaN    NaN  False

In [52]:
dataframe["kucuk_yas"] = [i*3 for i in dataframe.AGE]
dataframe

     NAME   AGE   NOTE   BOOL  buyuk_yas  kucuk_yas  apply_metodu
1.   irem  24.0  452.0   True       48.0       72.0          72.0
2.  hasan  25.0  326.0   True       50.0       75.0          75.0
3.     ay   NaN    NaN  False        NaN        NaN           NaN

In [50]:
def mlt(yas):
    return yas*3
dataframe["apply_metodu"] = dataframe.AGE.apply(mlt)
dataframe

     NAME   AGE   NOTE   BOOL  buyuk_yas  kucuk_yas  apply_metodu
1.   irem  24.0  452.0   True       48.0       72.0          72.0
2.  hasan  25.0  326.0   True       50.0       75.0          75.0
3.     ay   NaN    NaN  False        NaN        NaN           NaN

apply() fonksiyonu içerisinde lambda kullanarak var olan değişkenin içerisinde değişiklik yapabilir ya da DataFrame objesi içerisinde yer alan değişkenlerden yeni değişkenler türetilebiliriz.